Slashes in $ref do not work following RFC 6901

According to RFC 6901 Section 3, forward slashes in references are encoded as ~1.

See: https://tools.ietf.org/html/rfc6901

In my use case this means:
```
paths:
  /account/token:
    $ref: 'paths/account.yaml#/account~1token'
```

Am I missing something? Has this not been implemented?

Some context is missing here. What are you talking about?

I am talking about having a reference to an external file that could contain for example, path information.

I know internal references to are something like: $ref: '#definitions/Account'

External references (to another file) would be something like: $ref: 'definitions.yaml#Account'

I want to put a slash in the definition name. In my previous example, the file 'paths/account.yaml' could contain the path information for all the account routes. It could look like this:

```
/account/token:
  type: object
  ....
/account/mine:
  type: object
  ....
```

To reference the first definition above, you should be able to go: $ref: 'paths/account.yaml#/account~1token'. Otherwise it's looking for an element 'account' with a  child element 'token'.

Additionally, the tilde (~) should be recognized when encoded as ~0 according to the specs I linked to. PLEASE READ THE SPEC DOCUMENT I LINKED TO under section 3, Syntax.

Does that clarify things?

Yes, I'm aware of the spec. Read it multiple times. Thanks.

> Has this not been implemented?

Where? You say that as if you're having a problem with a specific tool, however this is the repository for the spec itself. 

Ah that is true. I will post to the specific tools. It may be worth noting in the specs documentation however that forward slashes and the tilde can/should be encoded.